:root{
    --preto: #000000;
    --roxo: #800080;
    --grafite: #2a2a2a;
    --silver: #C0C0C0;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: "Bebas Neue", sans-serif;
    
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--preto);
    font-family: Arial, sans-serif;
}

.login-container {
    background-color: var(--grafite);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.cadastro-container {
    background-color:var(--grafite);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.logo {
    font-size: 24px;
    margin-bottom: 20px;
}

.cadastro-box h2 {
    margin: 0 0 20px;
    color: #fff;
}

.login-box h2 {
    margin: 0 0 20px;
    color: #fff;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    background-color: #ffffff;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: var(--preto);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: var(--preto);
}

.criar-conta p {
    margin: 20px 0 0;
    color: var(--preto)
}

.criar-conta a {
    color: var(--silver);
    text-decoration: none;
}

.criar-conta a:hover {
    text-decoration: underline;
}
